{{#ui-section name="header" padding="md"}}
  <div class="container">
    <h1 class="font-header">{{example.title}}</h1>
    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Haec quo modo conveniant, non sane intellego.
        </p>
        <p>
          Scroll down to check it out...
        </p>
      </div>
    </div>
  </div>
{{/ui-section}}

{{#ui-section name="custom-animations" padding="xl"}}
  <div class="container">
    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        {{#scrollmagic-animated animation='fade'}}
          <h3 class="font-header">Overriding timeline</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Haec quo modo conveniant, non sane intellego.
          </p>
        {{/scrollmagic-animated}}
      </div>
    </div>
  </div>
{{/ui-section}}
