{{#ui-section name="header" padding="md"}}
  <div class="container">
    <h1 class="font-header">{{example.title}}</h1>
    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        <p>
          Example coming soon...
        </p>
      </div>
    </div>
  </div>
{{/ui-section}}
