{{#ui-section tagName="footer" padding=(hash top="xs" bottom="sm") bg="lt-gray"}}
  <div class="container">
    <div class="row">

      <div class="col xs12 md center-xs end-md">
        <ul>
          <li>
            {{link-to 'Guides' 'documentation.guides'}}
          </li>
          <li>
            {{link-to 'Examples' 'documentation.examples'}}
          </li>
          <li>
            <a href="https://github.com/willviles/ember-scrollmagic" target="_blank">
              GitHub
            </a>
          </li>
        </ul>
      </div>

      <div class="col xs12 md center-xs start-md last-xs first-md">
        <p>
          <small>
            <span class="font-header color-blue">2017 - Ember ScrollMagic.</span><br/>
            Made for the awesome Ember.js community by <a href="https://www.willviles.com" target="_blank" class="font-header color-hover-blue">Will Viles</a>.<br />
            Guides made using <a href="https://willviles.github.io/ember-cli-markdown-resolver/" target="_blank" class="font-header color-hover-blue">Ember CLI Markdown Resolver</a>.
          </small>
        </p>
      </div>

    </div>
  </div>
{{/ui-section}}
