<div id={{pinElementId}}>
  {{#if hasBlock}}

    {{yield this (hash
      animated=(component 'scrollmagic-animated')
      pinned=(component 'scrollmagic-pinned')
      toggle=(component 'scrollmagic-toggle')
    )}}

  {{else}}

    {{yield}}

  {{/if}}
</div>
