{{#ui-section name="header" padding=(hash top="sm")}}
  <div class="container">
    <div class="row">
      <div class="col xs12 align-center">
        <h2 class="font-header">Examples</h2>
      </div>
    </div>
  </div>
{{/ui-section}}

{{#ui-section name="examples-list" padding="xs"}}
  <div class="container">
    {{#if examples}}
      <ul class="row center-xs">
        {{#each examples as | example i |}}
          <li class="col xs12 md6 lg4">
            {{#ui-panel depth="sm" depthHover="md"}}

              <div class="header-container">
                {{#link-to 'documentation.examples.example' example.slug}}
                  <h5 class="font-header">
                    {{add i 1}}. {{example.title}}
                  </h5>
                {{/link-to}}
              </div>

              <div class="description-container">
                <p>
                  {{example.description}}
                </p>
              </div>

              <div class="button-container">
                {{ui-button-link-to 'View' 'documentation.examples.example' example.slug
                    bg="blue"
                    color="white"
                    padding="sm"
                    depthHover="md"
                    rounded=false}}
              </div>

            {{/ui-panel}}

          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/ui-section}}
